nav.nav
    div.nav__left-panel
        a.nav__title zoo
        ul.nav__left-panel__menu
            li contact
            li team
            li clients
    ul.nav__right-panel
        li works
        li all
            span en