main.main
    div
        img(src="http://www.z-o-o.fr/thumbs/works/moco-montpellier-contemporain/zoofr-moco-02-800x533-q80.jpg")
        span MOCO Montpellier Contemporain
    div
        img(src="http://www.z-o-o.fr/thumbs/works/moco-montpellier-contemporain/zoofr-moco-02-800x533-q80.jpg")
        span MOCO Montpellier Contemporain
    div
        img(src="http://www.z-o-o.fr/thumbs/works/moco-montpellier-contemporain/zoofr-moco-02-800x533-q80.jpg")
        span MOCO Montpellier Contemporain
    div
        img(src="http://www.z-o-o.fr/thumbs/works/moco-montpellier-contemporain/zoofr-moco-02-800x533-q80.jpg")
        span MOCO Montpellier Contemporain
    div
        img(src="http://www.z-o-o.fr/thumbs/works/moco-montpellier-contemporain/zoofr-moco-02-800x533-q80.jpg")
        span MOCO Montpellier Contemporain
    div
        img(src="http://www.z-o-o.fr/thumbs/works/moco-montpellier-contemporain/zoofr-moco-02-800x533-q80.jpg")
        span MOCO Montpellier Contemporain
    div
        img(src="http://www.z-o-o.fr/thumbs/works/moco-montpellier-contemporain/zoofr-moco-02-800x533-q80.jpg")
        span MOCO Montpellier Contemporain
    div
        img(src="http://www.z-o-o.fr/thumbs/works/moco-montpellier-contemporain/zoofr-moco-02-800x533-q80.jpg")
        span MOCO Montpellier Contemporain
    div
        img(src="http://www.z-o-o.fr/thumbs/works/moco-montpellier-contemporain/zoofr-moco-02-800x533-q80.jpg")
        span MOCO Montpellier Contemporain
    div
        img(src="http://www.z-o-o.fr/thumbs/works/moco-montpellier-contemporain/zoofr-moco-02-800x533-q80.jpg")
        span MOCO Montpellier Contemporain
    div
        img(src="http://www.z-o-o.fr/thumbs/works/moco-montpellier-contemporain/zoofr-moco-02-800x533-q80.jpg")
        span MOCO Montpellier Contemporain