main.main
    div
        img(src="https://mymodernmet.com/wp/wp-content/uploads/2020/10/cooper-baby-corgi-dogs-8.jpg")
        span MOCO Montpellier Contemporain
    div
        img(src="https://mymodernmet.com/wp/wp-content/uploads/2020/10/cooper-baby-corgi-dogs-8.jpg")
        span MOCO Montpellier Contemporain
    div
        img(src="https://mymodernmet.com/wp/wp-content/uploads/2020/10/cooper-baby-corgi-dogs-8.jpg")
        span MOCO Montpellier Contemporain
    div
        img(src="https://mymodernmet.com/wp/wp-content/uploads/2020/10/cooper-baby-corgi-dogs-8.jpg")
        span MOCO Montpellier Contemporain
    div
        img(src="https://mymodernmet.com/wp/wp-content/uploads/2020/10/cooper-baby-corgi-dogs-8.jpg")
        span MOCO Montpellier Contemporain
    div
        img(src="https://mymodernmet.com/wp/wp-content/uploads/2020/10/cooper-baby-corgi-dogs-8.jpg")
        span MOCO Montpellier Contemporain
    div
        img(src="https://mymodernmet.com/wp/wp-content/uploads/2020/10/cooper-baby-corgi-dogs-8.jpg")
        span MOCO Montpellier Contemporain
    div
        img(src="https://mymodernmet.com/wp/wp-content/uploads/2020/10/cooper-baby-corgi-dogs-8.jpg")
        span MOCO Montpellier Contemporain
    div
        img(src="https://mymodernmet.com/wp/wp-content/uploads/2020/10/cooper-baby-corgi-dogs-8.jpg")
        span MOCO Montpellier Contemporain
    div
        img(src="https://mymodernmet.com/wp/wp-content/uploads/2020/10/cooper-baby-corgi-dogs-8.jpg")
        span MOCO Montpellier Contemporain
    div
        img(src="https://mymodernmet.com/wp/wp-content/uploads/2020/10/cooper-baby-corgi-dogs-8.jpg")
        span MOCO Montpellier Contemporain